*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: black;
}

h3 {
    color: aquamarine;
    padding-top: 80px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.formulario {
    color: whitesmoke;
    margin: 20px;
    font-size: 17px;
    text-align: center;
}

.pad-1 {
    padding-top: 30px;
}

.pad-2 {
    padding-top: 30px;
}
 
.pad-3 {
    padding-top: 20px;
}

#valor {
    color: whitesmoke;
    margin-top: 20px;
    border-radius: 7px;
}

#cotizador {
    margin-top: 40px;
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 7px;
}

